@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input-field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221, 0.5);

  padding: 12px 8px;
  margin-bottom: 8px;
  width: 600px;
  max-width: 100%;

  color: white;

}

.input-field::placeholder {
  color: white;
  opacity: 1;
}